<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="coffee.chain.emp.vo.EmpVO" alias="emp" />
		<typeAlias type="coffee.chain.branch.vo.BranchVO" alias="branch" />
		<typeAlias type="coffee.chain.workflow.vo.WorkflowVO" alias="workflow" />
	</typeAliases>
</configuration>